## ------------------------------------------------------------------------------------------------------------------ ##
## Local Developer Only

## Local Developer Notes
.dev
kanbn.json

## ------------------------------------------------------------------------------------------------------------------ ##
## General

## Certificate
*.pem

## ------------------------------------------------------------------------------------------------------------------ ##
## Version Control

## Lefthook
.lefthook-local
lefthook-local.*

## ------------------------------------------------------------------------------------------------------------------ ##
## Environment Variables

## DotEnv
.env.development.local
.env.test.local
.env.production.local
.env.local

## ------------------------------------------------------------------------------------------------------------------ ##
## Dependencies

# Node.JS and BunJS
/node_modules

## ------------------------------------------------------------------------------------------------------------------ ##
## Compile and Build

## Build Output
/build
/out/
/dist/

## TypeScript
*.tsbuildinfo

## ------------------------------------------------------------------------------------------------------------------ ##
## NextJS

## Caching
/.next/

## TypeScript
next-env.d.ts

## ------------------------------------------------------------------------------------------------------------------ ##
## Deployment

# Vercel
.vercel

## ------------------------------------------------------------------------------------------------------------------ ##
